* {
	margin: 0;
	padding: 0;
}
	
body {
	background: rgb(245, 242, 238);
	font: 15px 'Spartan', Arial, sans-serif;
	line-height: 22px;
}
header {
	background:burlywood;
	padding: 10px 0;
	height: 10vh;
}

header img {
	width: 100%;
}

header h1 {
	padding-top: 30px;
	color: #eee;
}
main {
	padding: 50px 0;
}

ul {
	list-style-type: none;
}

hr {
	display:none;
}

.clearfix {
	clear: both;
}
.wrapper {
	width: 80%;
	margin: auto;
}

.main-section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.card {
	background: #fff;
	/* border: 1px solid black; */
	border-radius: 5px;
	padding: 20px;
	margin: 10px 10px;
	flex: 1 0 25%;
	box-shadow: 0 5px 5px 3px #ccc;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.sprite {
	/* float: left; */
	display: block;
}

.pokemon-info {
	margin: 20px 0 0 5px;
	/* float: left; */
	flex: 2 1 auto;
}

.pokemon-id {
	color: burlywood;
	font-weight: 700;
	font-size: 14px;
}

.pokemon-name {
	color: burlywood;
	font-size: 20px;
	font-weight: 700;
}

.other-details li{
	float: left;
	margin-right: 10px;
	color: hsl(180, 8%, 52%);
	/* font-weight: 500; */
	font-size: 13px;
	
}

.button-container {
	display: flex;
	flex-direction: column;
}

.button-container h4 {
	color: burlywood;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 700;
	
}

.filter-button {
	margin: 3px 0;
	margin-right: 5px;
	border-radius: 5px;
	border: 0;
	padding: 5px;
}

.ability, .types {
	background:  rgb(245, 242, 238);
	/* outline-color: rgb(245, 242, 238); */
	outline-color: burlywood;
	color: burlywood;
	font-weight: 700;
	font-size: 10px;
	text-transform: uppercase;
}

/* .tags-container {
	float: right;
}

.tags li {
	margin-top: 40px;
	margin-right: 10px;
	padding: 0 5px;
	float: left;
	font-size: 12px;
	background: hsl(180, 52%, 96%);
	border: 0;
	border-radius: 3px;
	color: burlywood;
	font-weight: 700;
	
} */

@media (max-width: 1300px) {
	.main-section {
		grid-template-columns: 1fr 1fr;
	}
	/* .tags-container {
		float: left;
		width: 100%;
		margin-top: 20px;
		border-top: 1px solid hsl(180, 8%, 52%);
	} */
}

@media (max-width: 850px) {
	header {
		text-align: center;
	}
	.main-section {
		grid-template-columns: 1fr;
	}
	.card {
		flex-direction: column;
	}
	.pokemon-info {
		text-align: center;
		margin: 0;
	}
	.other-details li {
		/* margin-right: 5px; */
		font-size: 12px;
	}
	.button-container {
		margin-top: 15px;
		width: 100%;
		text-align: center;
		flex-direction: row;
		justify-content: space-evenly;
	}
}

@media (max-width:600px) {
	.card {
		position: relative;
	}
	.company-logo {
		width: 50px;
		display: block;
		float: none;
		position: absolute;
		top: -20px;
	}
	.tags-container {
		float: left;
		width: 100%;
		margin-top: 20px;
		border-top: 1px solid hsl(180, 8%, 52%);
	}
	
	
}

/* .card-text {
	float: left;
}
 */


/* .card-tags {
	float: right;
}

.card-tags li {
	float: left;
	padding: 5px;
	margin: 0px 15px;
	background: hsl(180, 52%, 96%);
	border: 0;
	border-radius: 3px;
	color: hsl(180, 29%, 50%);
	font-weight: 700;
} */